.dashboard-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px rgba(124, 124, 124, 0.555);
  height: 52vh;
  width: 1300px;
  margin-top: 15px;
  border-radius: 15px;
}

.admin-create button {
  height: 34px;
  width: 140px;
  background-color: #B8F1B0;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 15px;
}

.margin-gap {
  margin-right: 55px;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 19px;
  border: none;
  border-color: rgb(228, 228, 228);
  background-color: rgb(228, 228, 228);
  padding: 10px 30px 10px 30px;
  width: 230px;
  margin-bottom: 16px;
  text-indent: 3px;
  transition: border 0.1s; 
}

.upload {}

.username {
  background-image:url('/LoginImg/user-icon.png');
  background-position: 10px 7px; 
  background-repeat: no-repeat;
  background-size: 18px 18px, cover;
}

.email {
  background-image:url('/Create-icons/email.svg');
  background-position: 10px 7px; 
  background-repeat: no-repeat;
  background-size: 18px 18px, cover;
}

.pass-input {
  position: relative;
  display: inline-block;
}

.password {
  background-image:url('/LoginImg/password-icon.png');
  background-position: 10px 7px; 
  background-repeat: no-repeat;
  background-size: 18px 18px, cover;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.img-eye {
  height: 18px;
  margin-bottom: 10px;
}

input:focus {
  box-shadow: 0 0 3px rgb(16, 68, 23);
  outline: none;
}

input::placeholder {
  font-size: 13px;
}

.upload {
  background-color: #B8F1B0;
  border: none;
  padding: 7px 13px 7px 13px;
  border-radius: 10px;
}

.upload:hover {
  background-color: #64a05cc4;
}

.upload:active {
  background-color: #b1daabc4;
}

.submit {
  background-color: #307A59;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}

.submit:hover {
  background-color: #609e58;
}

.submit:active {
  background-color: #93b38f;
}

.upload-container {
  position: relative;
  margin-top: 30px;
}

.profile-cont {
  position: absolute;
  right: 17px;
  top: 8px;
}

.profile-upload {
  height: 25px;
}

#myFile {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #B8F1B0;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 160px;
  border-radius: 15px;
}

.custom-file-upload:hover {
  background-color: #64ce56;
}

#file-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-container {
  position:relative;
}

